.mother-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.product-container{
    
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 35px;
    margin: 125px 70px;
   
    
}
.cart-container{
    background-color: rgb(246, 238, 240);
    color: #db2ca1;
    text-align: center;
    
}
