.mother-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.product-container{
    
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 35px;
    margin: 125px 70px;
   
    
}
.cart-container{
    background-color: rgb(4, 16, 40);
    color: #db2ca1;
    text-align: center;
    
}
@media only screen and (max-width: 600px) {
    .product-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}