.header-navigation{
    height:80px ;
    background-color: #1C2B35;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 140px;
    padding-right: 140px;
   
  
   
}
.call-stack a{
    text-decoration: none;
    color: #5ff105;
    margin-left: 25px;
    /* justify-content: space-between; */
}
.call-stack a:hover{
    color: rgb(255, 0, 179);
}
